@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99899777');
  src: url('../font/fontello.eot?99899777#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?99899777') format('woff2'),
       url('../font/fontello.woff?99899777') format('woff'),
       url('../font/fontello.ttf?99899777') format('truetype'),
       url('../font/fontello.svg?99899777#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99899777#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-indent-left:before { content: '\e800'; } /* '' */
.icon-indent-right:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-indent-left-1:before { content: '\e803'; } /* '' */
.icon-indent-right-1:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-list-bullet-1:before { content: '\e806'; } /* '' */
.icon-strike-1:before { content: '\e807'; } /* '' */
.icon-underline-1:before { content: '\e808'; } /* '' */
.icon-table-1:before { content: '\e809'; } /* '' */
.icon-superscript-1:before { content: '\e80a'; } /* '' */
.icon-subscript-1:before { content: '\e80b'; } /* '' */
.icon-italic:before { content: '\e80c'; } /* '' */
.icon-bold:before { content: '\e80d'; } /* '' */
.icon-resize-full-1:before { content: '\e80e'; } /* '' */
.icon-smile-1:before { content: '\e80f'; } /* '' */
.icon-eraser-1:before { content: '\e810'; } /* '' */
.icon-html5-1:before { content: '\e811'; } /* '' */
.icon-keyboard-1:before { content: '\e812'; } /* '' */
.icon-resize-small-1:before { content: '\e813'; } /* '' */
.icon-tags-1:before { content: '\e814'; } /* '' */
.icon-code-1:before { content: '\e815'; } /* '' */
.icon-ellipsis-1:before { content: '\e816'; } /* '' */
.icon-resize-full:before { content: '\e817'; } /* '' */
.icon-resize-small:before { content: '\e818'; } /* '' */
.icon-picture-1:before { content: '\e819'; } /* '' */
.icon-book-1:before { content: '\e81a'; } /* '' */
.icon-edit-1:before { content: '\e81b'; } /* '' */
.icon-forward-1:before { content: '\e81c'; } /* '' */
.icon-eye-off-1:before { content: '\e81d'; } /* '' */
.icon-cog-1:before { content: '\e81e'; } /* '' */
.icon-header-1:before { content: '\e81f'; } /* '' */
.icon-copyright-1:before { content: '\e820'; } /* '' */
.icon-help-circled-1:before { content: '\e821'; } /* '' */
.icon-eye-1:before { content: '\e822'; } /* '' */
.icon-link-1:before { content: '\e823'; } /* '' */
.icon-italic-1:before { content: '\e824'; } /* '' */
.icon-bold-1:before { content: '\e825'; } /* '' */
.icon-tags:before { content: '\e826'; } /* '' */
.icon-picture:before { content: '\e827'; } /* '' */
.icon-book:before { content: '\e828'; } /* '' */
.icon-edit:before { content: '\e829'; } /* '' */
.icon-forward:before { content: '\e82a'; } /* '' */
.icon-eye-off:before { content: '\e82b'; } /* '' */
.icon-cog:before { content: '\e82c'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e82d'; } /* '' */
.icon-list-numbered-1:before { content: '\e82e'; } /* '' */
.icon-magic-1:before { content: '\e82f'; } /* '' */
.icon-columns-1:before { content: '\e830'; } /* '' */
.icon-download-cloud-1:before { content: '\e831'; } /* '' */
.icon-quote-left-1:before { content: '\e832'; } /* '' */
.icon-reply-1:before { content: '\e833'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-header-same:before { content: '\f1dc'; } /* '' */
.icon-header-increase:before { content: '\f1dd'; } /* '' */
.icon-header-decrease:before { content: '\f1de'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */