<template>
  <div class="home">
    <MarkdownEditor/>
  </div>
</template>

<script>
import MarkdownEditor from '@/components/MarkdownEditor.vue'

export default {
  name: 'home',
  components: {
    MarkdownEditor
  }
}
</script>
