<template>
  <div id="app">
    <router-view /> 
    <!--
      <div id="nav"><router-link to="/">Home</router-link></div>
    -->
  </div>
</template>

<style>
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
/* @import '../node_modules/@fortawesome/fontawesome-free/css/brands.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/solid.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/regular.min.css'; */
</style>
